$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary-light: #ffffff;
$background-primary-main: #fffbfe;
$background-primary-dark: #f8f5ff;

$background-secondary-light: #f4efff;
$background-secondary-main: #e6ddfb;
$background-secondary-dark: #d6caf5;

/* status colors */

$success-light: #9ad7a4;
$success-main: #5cc56e;
$success-dark: #278337;

$error-light: #f2b8b5;
$error-main: #e46962;
$error-dark: #b3261e;

$warning-light: #f16709;
$warning-main: #ff6d00;
$warning-dark: #c43c00;

$info-light: #82f7ff;
$info-main: #40c4ff;
$info-dark: #0094cc;

/* brand colors */

$primary-light: #9a82db;
$primary-main: #6750a4;
$primary-dark: #4f378b;

$primary-light-rgb: hexToRGB($primary-light);
$primary-main-rgb: hexToRGB($primary-main);
$primary-dark-rgb: hexToRGB($primary-dark);

$secondary-light: #ccc2dc;
$secondary-main: #958da5;
$secondary-dark: #625b71;

$tertiary-light: #ffff6b;
$tertiary-main: #fdd835;
$tertiary-dark: #c6a700;

/* typography colors */

$text-primary-light: #484848;
$text-primary-main: #212121;
$text-primary-dark: #000000;

$text-secondary-light: #4f5b62;
$text-secondary-main: #263238;
$text-secondary-dark: #000a12;

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #ffffff;
$text-secondary-invert-dark: #ffffff;

/* border colors */

$border-primary-light: #cfcfcf;
$border-primary-main: #9e9e9e;
$border-primary-dark: #707070;
